<?xml version="1.0"?>
<config>
	<modules>
		<AMG_SecurePay>
			<version>0.1.0</version>
		</AMG_SecurePay>
	</modules>
	<frontend>
		<routers>
			<AMG_SecurePay>
				<use>standard</use>
				<args>
					<module>AMG_SecurePay</module>
					<frontName>securepay</frontName>
				</args>
			</AMG_SecurePay>
		</routers>
		<layout>
			<updates>
				<securepay>
					<file>AMG/securepay.xml</file>
				</securepay>
			</updates>
		</layout>
		<translate>
			<modules>
				<AMG_SecurePay>
					<files>
						<default>AMG/SecurePay.csv</default>
					</files>
				</AMG_SecurePay>
			</modules>
		</translate>
	</frontend>
	<global>
		<blocks>
			<securepay>
				<class>AMG_SecurePay_Block</class>
			</securepay>
		</blocks>
		<helpers>
			<securepay>
				<class>AMG_SecurePay_Helper</class>
			</securepay>
		</helpers>
		<models>
			<securepay>
				<class>AMG_SecurePay_Model</class>
				<resourceModel>securepay_mysql4</resourceModel>
			</securepay>
			<securepay_mysql4>
				<class>AMG_SecurePay_Model_Mysql4</class>
				<entities>
					<customervault>
						<table>amg_securepay_customervault</table>
					</customervault>
				</entities>
			</securepay_mysql4>
		</models>
		<resources>
			<securepay_setup>
				<setup>
					<module>AMG_SecurePay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</securepay_setup>
			<securepay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</securepay_write>
			<securepay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</securepay_read>
		</resources>
		<events>
			<sales_quote_payment_import_data_before>
				<observers>
					<amg_securepay_sales_quote_payment_import_data_before>
						<class>securepay/observer</class>
						<method>salesQuotePaymentImportDataBefore</method>
					</amg_securepay_sales_quote_payment_import_data_before>
				</observers>
			</sales_quote_payment_import_data_before>
			<checkout_submit_all_after>
				<observers>
					<amg_securepay_checkout_submit_all_after>
						<class>securepay/observer</class>
						<method>checkoutSubmitAllAfter</method>
					</amg_securepay_checkout_submit_all_after>
				</observers>
			</checkout_submit_all_after>
		</events>
	</global>
	<default>
		<payment>
			<securepay_directpost>
				<active>0</active>
				<title>AMG SecurePay</title>
				<gateway_url>https://secure.advancedmerchantgroupgateway.com/api/transact.php</gateway_url>
				<payment_action>authorize</payment_action>
				<order_status>processing</order_status>
				<currency>USD</currency>
				<log>1</log>
				<cctypes>AE,VI,MC,DI</cctypes>
				<useccv>1</useccv>
				<allowsavecc>1</allowsavecc>
				<allowspecific>0</allowspecific>
				<check_dup_seconds>0</check_dup_seconds>
				<dup_seconds>0</dup_seconds>
				<sort_order>200</sort_order>
				<model>securepay/directpost</model>
				<api_id backend_model="adminhtml/system_config_backend_encrypted"/>
				<trans_key backend_model="adminhtml/system_config_backend_encrypted"/>
			</securepay_directpost>
			<securepay_directpost_customervault>
				<active>0</active>
				<title>AMG SecurePay - Customer Vault</title>
				<payment_action>authorize</payment_action>
				<order_status>processing</order_status>
				<allowspecific>0</allowspecific>
				<sort_order>201</sort_order>
				<model>securepay/directpost_customervault</model>
			</securepay_directpost_customervault>
		</payment>
	</default>
</config>
